.bg-container {
  background-color: #eef4f7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.heading {
  color: #334155;
  border-bottom: 2px #52bbf0 solid;
  padding-bottom: 5px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.travel-list {
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
